		
{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{category}}" id="success-alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <strong>{{message}}</strong>
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<body class="bg-light vh-100">
  <div class="container vh-100">
    <div class="row align-items-center vh-100">
      <div class="col-lg-5 mx-auto">
        <div class="bg-white  p-5 rounded shadow-sm">
          <form method="POST" action="#">
            <div class="mb-3">
              <label for="username" class="form-label text-danger">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label text-danger">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
            </div>
            <div class="row">
              <div class="col">
                <button type="submit" class="btn btn btn-primary btn-block btn-lg mx-auto d-block">Login</button>
              </div>
              <div class="col">
                <a type="button" class="btn btn btn-primary btn-block btn-lg mx-auto d-block" href="/register">Register</a>
                <!-- <a class="btn btn btn-primary btn-block btn-lg mx-auto" href="/register" role="button">Register</a> -->
              </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</body>


{% endblock %}
