		
{% extends "base.html" %}
{% block navbar %} {% endblock %}
{% block content %}

<body class="vh-100">
  <div class="container vh-100">
    <div class="row align-items-center vh-100">
      <div class="col-lg-5 mx-auto">
        <div class="bg-white  p-5 rounded shadow-sm">
          <form method="POST" action="#">
            <div class="mb-3">
              <h2 class="text-center text-primary">Welcome to Flash Cards</h2>
            </div>
            <div class="mb-3">
              <label for="username" class="form-label text-danger">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label text-danger">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
            </div>
            

            <div class="row">
              <div class="col text-center">
                <button type="submit" name="button" value="login" class="btn btn-primary">Login</button>
              </div>
              <div class="col text-center">
                <button type="submit" name="button" value="register" class="btn btn-primary">Register</button>
              </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</body>


{% endblock %}
