		
{% extends "base.html" %}

{% block content %}


<body class="bg-light vh-100">
  <div class="container vh-100">
    <div class="row align-items-center vh-100">
      <div class="col-lg-5 mx-auto">
        <div class="bg-white  p-5 rounded shadow-sm">
          <form method="POST" action="#">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
            </div>
            <button type="submit" class="btn btn btn-primary btn-block btn-lg mx-auto d-block">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>


{% endblock %}
